h1 {
    font-size: 4em;
}

h1, h3, h5 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
}

#about-me {
    border: red solid;
}



h2 {
    font-family: 'La Belle Aurore', cursive;
}

img[alt="Main Image"] {
height: 23rem;
}


.contact-form-wrapper {
display: flex;
flex-direction: column;
text-align: left;
padding: 1.5em;
                       }

section p {
    text-align: justify;
}